name: Deploy

on:
  workflow_run:
    workflows: ["Code formatter and linter"]
    types:
      - completed

permissions:
  contents: write

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'master' }}
    runs-on: Ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Enable caching
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install Dependencies
        run: |
          uv sync --locked --all-extras --dev

      - name: Deploy to GitHub Pages
        run: |
          uv run mkdocs gh-deploy --force
