name: Code formatter and linter

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: Ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Enable caching
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install Dependencies
        run: |
          uv sync --locked --all-extras --dev

      - name: Format with isort and black
        run: |
          uv run isort .
          uv run black .

      - name: Linting with ruff
        run: |
          uv run ruff check .

      - name: Build docs
        run: |
          uv run mkdocs build
